  html {
        animation: ani 3s;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Open Sans', sans-serif;
    }
    
    .header {
        display: flex;
        flex-direction: row;
    }
    
    ul li {
        list-style-type: none;
        color: white;
        text-transform: uppercase;
        font-size: 0.75rem;
    }
    
    iframe {
        width: 100vw;
        height: 100vh;
    }
    
    a {
        text-decoration: none;
    }
    
    .menu-open-button {
        transform: translateX(125%);
        background-color: rgba(0, 122, 171, 0.5);
        height: 2rem;
        width: 4rem;
        transform: rotate(-90deg);
        position: absolute;
        margin-left: 10.7rem;
        margin-top: 2.3rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        color: #fff;
    }
    
    .side-menu {
        min-height: 100px;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-top: 42px;
        transform: translateX(-100%);
        gap: 0.1rem;
        animation: goBack 0.5s;
    }
    
    .menu-link :hover {
        color: white;
    }
    
    .menu-link li {
        color: rgb(204, 204, 204);
    }
    
    ul {
        text-align: center;
    }
    
    .team-block-member__img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }
    
    .team-block-member__heading {
        color: rgba(18, 78, 115, 1);
        font-weight: 600;
        line-height: normal;
    }
    
    .team-block-member-info {
        margin-left: 1rem;
    }
    
    .team-block-member__sub {
        font-size: 1.5rem;
    }
    
    .team-block-member {
        display: flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
        min-height: 250px;
        margin-left: 1rem;
    }
    
    .team-block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .team-block-row {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    
    .team-block-member__text {
        font-weight: bolder;
        font-size: 1rem;
    }
    
    @media (max-width:1400px) {
        .team-block {
            flex-direction: column;
        }
    }
    
    @keyframes ani {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes goBack {
        0% {
            transform: translateX(0)
        }
        100% {
            transform: translateX(-100%);
        }
    }
    
    @keyframes leftSideMove {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0)
        }
    }
    
    .open {
        display: flex;
        transform: translateX(0);
        animation: leftSideMove 0.5s;
    }
    
    .side-menu-item {
        display: flex;
        justify-content: center;
        width: 140px;
        min-height: 110px;
        background-color: rgba(0, 122, 171, 0.5);
        border-radius: 10px;
    }
    
    .side-menu-item__img {
        display: flex;
        width: 64px;
        margin: auto;
        margin-top: 0.5rem;
    }
    
    .side-menu-item__text {
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 0.75rem;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }
    
    .top-menu {
        display: flex;
        flex-direction: row;
        position: absolute;
        margin-left: 25%;
        gap: 1rem;
    }
    
    .top-menu__item {
        display: flex;
        min-width: 256px;
        height: 42px;
        background-color: rgba(0, 122, 171, 0.5);
        align-items: center;
        justify-content: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    details summary {
        display: block;
        /* у summary по умолчанию свойство display в значении list-item, потому поддерживается свойство list-style */
        width: 10em;
        
        /* подводка точками или тире часто используется для элементов, с которыми пользователю предлагается взаимодействовать, можно заменить на text-decoration */
        outline-style: none;
        /* удалить обводку при фокусе */
        cursor: pointer;
    }
    
    details summary::-webkit-details-marker {
        /* нестандартный псевдоэлемент Google Chrome */
        display: none;
    }
    /*анимация details*/
    
    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translateY(-1.25em);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    .details-animated[open] {
        animation-name: fadeInDown;
        animation-duration: 0.5s;
    }
    /*анимация details*/
    
    .content-wrapper {
        margin-left: 11rem;
        margin-top: 2rem;
    }
    
    .content-heading {
        color: white;
        font-size: 2.5rem;
        line-height: 2.5rem;
        max-width: 90%;
        margin-top: 4rem;
    }
    
    .content {
        margin-top: 2rem;
        color: white;
        font-size: 1.5rem;
        line-height: 2rem;
        background-color: white;
        color: #000;
        font-family: 'Montserrat', sans-serif;
        height: 100%;
    }
    
    .header {
        margin-left: 11rem;
        margin-top: 6rem;
    }
    
    .header__img {
        width: 100px;
        height: 100px;
    }
    
    .header__text {
        color: #fff;
        max-width: 25rem;
        font-size: 30px;
        line-height: 50px;
        max-height: 200px;
        font-weight: 600;
        margin-left: 1rem;
    }
    
    .mediaViewInfo {
        --web-view-name: 010 Main screen;
        --web-view-id: n_10_Main_screen;
        --web-scale-on-resize: true;
        --web-enable-deep-linking: true;
    }
    
     :root {
        --web-view-ids: n_10_Main_screen;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
    }
    
    #n_10_Main_screen {
        position: absolute;
        background-color: rgba(18, 78, 115, 1);
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        --web-view-name: 010 Main screen;
        --web-view-id: n_10_Main_screen;
        --web-scale-on-resize: true;
        --web-enable-deep-linking: true;
    }
    
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    #Group {
        position: absolute;
        width: 1920px;
        height: 1080px;
        left: 0px;
        top: 0px;
        overflow: visible;
    }
    
    #n_ {
        position: absolute;
        width: 263px;
        height: 268px;
        left: 1995px;
        top: 432px;
        overflow: visible;
        transition: all 0.6s ease-in-out;
        --web-animation: fadein 0.6s ease-in-out;
        --web-action-type: page;
        --web-action-target: 110____________.html;
        cursor: pointer;
    }
    
    #n__ {
        opacity: 0.6;
        filter: blur(23.175px);
        fill: rgba(0, 122, 171, 1);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 2px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .n__ {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        position: absolute;
        overflow: visible;
        width: 266px;
        height: 242px;
        left: 15px;
        top: 0px;
    }
    
    #n_Icon {
        position: absolute;
        width: 64px;
        height: 64px;
        left: 84px;
        top: 23px;
        overflow: visible;
    }
    
    #n__ba {
        left: 5px;
        top: 106px;
        position: absolute;
        overflow: visible;
        width: 222px;
        height: 34px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: lighter;
        font-size: 28px;
        color: rgba(255, 255, 255, 1);
    }
    
    #n__bb {
        opacity: 0.8;
        left: 31px;
        top: 156px;
        position: absolute;
        overflow: visible;
        width: 173px;
        height: 112px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: lighter;
        font-size: 20px;
        color: rgba(255, 255, 255, 1);
    }
    
    #Polygon {
        fill: rgba(255, 255, 255, 1);
    }
    
    .Polygon {
        overflow: visible;
        position: absolute;
        width: 34px;
        height: 15px;
        transform: translate(0px, 0px) matrix(1, 0, 0, 1, -9.5, 104.5) rotate(-90deg);
        transform-origin: center;
        left: 0px;
        top: 0px;
    }
    
    #n__1 {
        position: absolute;
        width: 224px;
        height: 224px;
        left: 862px;
        top: 484px;
        overflow: visible;
        transition: all 0.6s ease-in-out;
        --web-animation: fadein 0.6s ease-in-out;
        --web-action-type: page;
        --web-action-target: 120________________________.html;
        cursor: pointer;
    }
    
    #n__bc {
        opacity: 0.6;
        filter: blur(23.175px);
        fill: rgba(0, 173, 229, 1);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 2px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .n__bc {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        position: absolute;
        overflow: visible;
        width: 242px;
        height: 242px;
        left: 0px;
        top: 0px;
    }
    
    #n_Icon_ba {
        position: absolute;
        width: 64px;
        height: 64px;
        left: 80px;
        top: 23px;
        overflow: visible;
    }
    
    #n__bd {
        left: 1px;
        top: 106px;
        position: absolute;
        overflow: visible;
        width: 222px;
        height: 34px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: lighter;
        font-size: 28px;
        color: rgba(255, 255, 255, 1);
    }
    
    #n__be {
        opacity: 0.8;
        left: 35px;
        top: 156px;
        position: absolute;
        overflow: visible;
        width: 155px;
        height: 61px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: lighter;
        font-size: 20px;
        color: rgba(255, 255, 255, 1);
    }
    
    #n__2 {
        position: absolute;
        width: 224px;
        height: 224px;
        left: 1215px;
        top: 540px;
        overflow: visible;
        transition: all 0.6s ease-in-out;
        --web-animation: fadein 0.6s ease-in-out;
        --web-action-type: page;
        --web-action-target: 120________________________.html;
        cursor: pointer;
    }
    
    #n__bf {
        opacity: 0.6;
        filter: blur(23.175px);
        fill: rgba(0, 173, 229, 1);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 2px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .n__bf {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        position: absolute;
        overflow: visible;
        width: 242px;
        height: 242px;
        left: 0px;
        top: 0px;
    }
    
    #n_Icon_bf {
        position: absolute;
        width: 64px;
        height: 64px;
        left: 80px;
        top: 23px;
        overflow: visible;
    }
    
    #n__bg {
        left: 1px;
        top: 106px;
        position: absolute;
        overflow: visible;
        width: 222px;
        height: 34px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: lighter;
        font-size: 28px;
        color: rgba(255, 255, 255, 1);
    }
    
    #n__bh {
        opacity: 0.8;
        left: 35px;
        top: 156px;
        position: absolute;
        overflow: visible;
        width: 155px;
        height: 61px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: lighter;
        font-size: 20px;
        color: rgba(255, 255, 255, 1);
    }
    
    #Group_bi {
        opacity: 0;
        position: absolute;
        width: 676px;
        height: 1080px;
        left: 1902px;
        top: 0px;
        overflow: visible;
    }
    
    #n__bj {
        fill: rgba(255, 255, 255, 1);
    }
    
    .n__bj {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        position: absolute;
        overflow: visible;
        width: 694px;
        height: 1098px;
        left: 0px;
        top: 0px;
    }
    
    #n__bk {
        left: 130px;
        top: 46px;
        position: absolute;
        overflow: visible;
        width: 417px;
        white-space: nowrap;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: lighter;
        font-size: 40px;
        color: rgba(18, 78, 115, 1);
    }
    
    #n__ZOOM {
        opacity: 0;
        position: absolute;
        width: 224px;
        height: 207px;
        left: 1902px;
        top: 832px;
        overflow: visible;
    }
    
    #n__bm {
        opacity: 0.6;
        filter: blur(23.175px);
        fill: rgba(0, 122, 171, 1);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 2px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .n__bm {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        position: absolute;
        overflow: visible;
        width: 242px;
        height: 225px;
        left: 0px;
        top: 0px;
    }
    
    #n_Icon_bn {
        position: absolute;
        width: 64px;
        height: 64px;
        left: 80px;
        top: 23px;
        overflow: visible;
    }
    
    #n__bo {
        left: 1px;
        top: 106px;
        position: absolute;
        overflow: visible;
        width: 222px;
        height: 68px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: lighter;
        font-size: 28px;
        color: rgba(255, 255, 255, 1);
    }
    
    #n__bp {
        position: absolute;
        width: 600.001px;
        height: 1077px;
        left: 1316px;
        top: 1016px;
        overflow: visible;
    }
    
    #n__bq {
        opacity: 0.6;
        position: absolute;
        width: 600px;
        height: 1077px;
        left: 0.001px;
        top: 0px;
        overflow: visible;
    }
    
    #Tab__bs {
        fill: url(#Tab__bs);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .Tab__bs {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        overflow: visible;
        position: absolute;
        width: 618px;
        height: 1095px;
        left: 0px;
        top: 0px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    
    #Icon_ {
        position: absolute;
        width: 48px;
        height: 48px;
        left: 478.767px;
        top: 8px;
        overflow: visible;
    }
    
    #n__bu {
        opacity: 0.6;
        position: absolute;
        width: 600px;
        height: 1077px;
        left: 0px;
        top: 0px;
        overflow: visible;
    }
    
    #Tab__bw {
        fill: url(#Tab__bw);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .Tab__bw {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        overflow: visible;
        position: absolute;
        width: 618px;
        height: 1095px;
        left: 0px;
        top: 0px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    
    #Icon__bx {
        position: absolute;
        width: 48px;
        height: 48px;
        left: 279.277px;
        top: 8px;
        overflow: visible;
    }
    
    #n__by {
        opacity: 0.6;
        position: absolute;
        width: 599.999px;
        height: 1077px;
        left: 0px;
        top: 0px;
        overflow: visible;
    }
    
    #Tab__b {
        fill: url(#Tab__b);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .Tab__b {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        overflow: visible;
        position: absolute;
        width: 617.999px;
        height: 1095px;
        left: 0px;
        top: 0px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    
    #Icon__b {
        position: absolute;
        width: 48px;
        height: 48px;
        left: 81.999px;
        top: 8px;
        overflow: visible;
    }
    
    #X {
        position: absolute;
        width: 12px;
        height: 12px;
        left: 173.056px;
        top: 10px;
        display: none;
        overflow: visible;
    }
    
    #Rectangle_2 {
        fill: rgba(255, 255, 255, 1);
    }
    
    .Rectangle_2 {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        width: 1.616px;
        height: 15.354px;
        position: absolute;
        overflow: visible;
        transform: translate(0px, 0px) matrix(1, 0, 0, 1, 5.1919, -1.6771) rotate(45deg);
        transform-origin: center;
    }
    
    #Rectangle_3 {
        fill: rgba(255, 255, 255, 1);
    }
    
    .Rectangle_3 {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        width: 1.616px;
        height: 15.354px;
        position: absolute;
        overflow: visible;
        transform: translate(0px, 0px) matrix(1, 0, 0, 1, 5.1918, -1.6771) rotate(135deg);
        transform-origin: center;
    }
    
    #n_1 {
        position: absolute;
        width: 1086px;
        height: 261px;
        left: 278px;
        top: 0px;
        overflow: visible;
    }
    
    #Group_b {
        position: absolute;
        width: 258px;
        height: 196px;
        left: 2px;
        top: 65px;
        overflow: visible;
    }
    
    #n__b {
        position: absolute;
        width: 120px;
        height: 120px;
        left: 0px;
        top: 1px;
        overflow: visible;
    }
    
    #n___b {
        left: 0px;
        top: 123px;
        position: absolute;
        overflow: visible;
        width: 121px;
        height: 73px;
        text-align: center;
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: rgba(255, 255, 255, 1);
    }
    
    #n__ca {
        position: absolute;
        width: 112px;
        height: 112px;
        left: 137px;
        top: 0px;
        overflow: visible;
    }
    
    #n_____ {
        left: 136px;
        top: 123px;
        position: absolute;
        overflow: visible;
        width: 123px;
        height: 73px;
        text-align: center;
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: rgba(255, 255, 255, 1);
    }
    
    #n____ {
        left: 276px;
        top: 64px;
        position: absolute;
        overflow: visible;
        width: 675px;
        height: 138px;
        line-height: 64px;
        margin-top: -8px;
        text-align: left;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        color: rgba(255, 255, 255, 1);
    }
    
    #n__cc {
        position: absolute;
        width: 792px;
        height: 40px;
        left: 0px;
        top: 0px;
        overflow: visible;
    }
    
    #n_TAB {
        opacity: 0.4;
        fill: rgba(0, 122, 171, 1);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .n_TAB {
        position: absolute;
        overflow: visible;
        width: 262px;
        height: 42px;
        left: 0px;
        top: 0px;
    }
    
    #n__ce {
        opacity: 0.6;
        left: 0px;
        top: 11px;
        position: absolute;
        overflow: visible;
        width: 261px;
        height: 19px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    #n_TAB_cf {
        fill: rgba(0, 190, 163, 1);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .n_TAB_cf {
        position: absolute;
        overflow: visible;
        width: 262px;
        height: 42px;
        left: 266px;
        top: 0px;
        --web-animation: fadein 0.6s linear;
        --web-action-type: page;
        --web-action-target: 110____________.html;
        cursor: pointer;
    }
    
    #n__cg {
        left: 266px;
        top: 11px;
        position: absolute;
        overflow: visible;
        width: 261px;
        height: 19px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    #n___ch {
        position: absolute;
        width: 260px;
        height: 40px;
        left: 532px;
        top: 0px;
        overflow: visible;
    }
    
    #n_TAB_ci {
        opacity: 0.4;
        fill: rgba(0, 173, 229, 1);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .n_TAB_ci {
        position: absolute;
        overflow: visible;
        width: 262px;
        height: 42px;
        left: 0px;
        top: 0px;
    }
    
    #n__cj {
        opacity: 0.6;
        left: 0px;
        top: 11px;
        position: absolute;
        overflow: visible;
        width: 261px;
        height: 19px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    #n__ck {
        position: absolute;
        width: 288px;
        height: 40px;
        left: 798px;
        top: 0px;
        overflow: visible;
    }
    
    #n_TAB_cl {
        opacity: 0.4;
        fill: rgba(18, 78, 115, 1);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .n_TAB_cl {
        position: absolute;
        overflow: visible;
        width: 290px;
        height: 42px;
        left: 0px;
        top: 0px;
    }
    
    #n__cm {
        opacity: 0.4;
        left: 77px;
        top: 11px;
        position: absolute;
        overflow: visible;
        width: 212px;
        height: 19px;
        text-align: left;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    #Zoom_3031293 {
        opacity: 0.4;
        position: absolute;
        width: 24px;
        height: 24px;
        left: 29px;
        top: 8px;
        overflow: visible;
    }
    
    #Timeline_1 {
        position: absolute;
        width: 1068px;
        height: 69px;
        left: 162px;
        top: 984px;
        overflow: visible;
    }
    
    #Timeline_1_scroll {
        mix-blend-mode: normal;
        position: absolute;
        width: 1066px;
        height: 42px;
        left: 2px;
        top: 0px;
        overflow: hidden;
    }
    
    #n_1_cq {
        opacity: 0.5;
        fill: rgba(255, 255, 255, 1);
    }
    
    .n_1_cq {
        position: absolute;
        overflow: visible;
        width: 2057px;
        height: 8px;
        left: 0px;
        top: 17px;
    }
    
    #Slider_1 {
        fill: rgba(0, 190, 163, 1);
        stroke: rgba(255, 255, 255, 1);
        stroke-width: 4px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .Slider_1 {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.251));
        position: absolute;
        overflow: visible;
        width: 60px;
        height: 60px;
        left: 1022px;
        top: 0px;
    }
    
    #Group_cs {
        position: absolute;
        width: 1043px;
        height: 19px;
        left: 0px;
        top: 50px;
        overflow: visible;
    }
    
    #n_020 {
        left: 1005px;
        top: 0px;
        position: absolute;
        overflow: visible;
        width: 39px;
        white-space: nowrap;
        line-height: 64px;
        margin-top: -24px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
    }
    
    #n_010 {
        left: 834px;
        top: 0px;
        position: absolute;
        overflow: visible;
        width: 37px;
        white-space: nowrap;
        line-height: 64px;
        margin-top: -24px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
    }
    
    #n_000 {
        left: 668px;
        top: 0px;
        position: absolute;
        overflow: visible;
        width: 41px;
        white-space: nowrap;
        line-height: 64px;
        margin-top: -24px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
    }
    
    #n_990 {
        left: 501px;
        top: 0px;
        position: absolute;
        overflow: visible;
        width: 37px;
        white-space: nowrap;
        line-height: 64px;
        margin-top: -24px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
    }
    
    #n_980 {
        left: 333px;
        top: 0px;
        position: absolute;
        overflow: visible;
        width: 38px;
        white-space: nowrap;
        line-height: 64px;
        margin-top: -24px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
    }
    
    #n_970 {
        left: 171px;
        top: 0px;
        position: absolute;
        overflow: visible;
        width: 37px;
        white-space: nowrap;
        line-height: 64px;
        margin-top: -24px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
    }
    
    #n_960 {
        left: 0px;
        top: 0px;
        position: absolute;
        overflow: visible;
        width: 37px;
        white-space: nowrap;
        line-height: 64px;
        margin-top: -24px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
    }
    
    #Scale_scroll {
        position: absolute;
        width: 1031px;
        height: 757px;
        left: 165px;
        top: 204px;
        overflow: visible;
    }
    
    #Scale_scroll_c {
        mix-blend-mode: normal;
        position: absolute;
        width: 1031px;
        height: 757px;
        left: 0px;
        top: 0px;
        overflow: hidden;
    }
    
    #Scale {
        position: absolute;
        width: 1646px;
        height: 1427px;
        left: -623px;
        top: 16px;
        overflow: visible;
    }
    
    #Scale_line {
        opacity: 0.5;
        fill: rgba(255, 255, 255, 1);
    }
    
    .Scale_line {
        position: absolute;
        overflow: visible;
        width: 387px;
        height: 8px;
        left: 625px;
        top: 710px;
    }
    
    #Four_Arrows {
        position: absolute;
        width: 36px;
        height: 36px;
        left: 801px;
        top: 696px;
        overflow: visible;
    }
    
    #Four_Arrows_918738 {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.251));
        position: absolute;
        width: 36px;
        height: 36px;
        left: 0px;
        top: 0px;
        overflow: visible;
    }
    
    #n__c {
        left: 623px;
        top: 678px;
        position: absolute;
        overflow: visible;
        width: 15px;
        white-space: nowrap;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: lighter;
        font-size: 24px;
        color: rgba(255, 255, 255, 1);
    }
    
    #n_00_ {
        left: 976px;
        top: 678px;
        position: absolute;
        overflow: visible;
        width: 73px;
        white-space: nowrap;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: lighter;
        font-size: 24px;
        color: rgba(255, 255, 255, 1);
    }
    
    #aaa {
        opacity: 0;
        fill: rgba(255, 255, 255, 1);
        stroke: rgba(112, 112, 112, 1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .aaa {
        position: absolute;
        overflow: visible;
        width: 44px;
        height: 41px;
        left: 1602px;
        top: 0px;
    }
    
    #aaaa {
        opacity: 0;
        fill: rgba(255, 255, 255, 1);
        stroke: rgba(112, 112, 112, 1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .aaaa {
        position: absolute;
        overflow: visible;
        width: 44px;
        height: 41px;
        left: 0px;
        top: 1386px;
    }
    
    #Component_28__5 {
        position: absolute;
        width: 140px;
        height: 1080px;
        left: 0px;
        top: 0px;
        overflow: visible;
    }
    
    #Scroll_Group_3 {
        mix-blend-mode: normal;
        position: absolute;
        width: 140px;
        height: 1080px;
        left: 0px;
        top: 0px;
        overflow: hidden;
    }
    
    #M1 {
        position: absolute;
        width: 140px;
        height: 278px;
        left: 0px;
        top: 48px;
        overflow: visible;
    }
    
    #n__dd {
        opacity: 0.5;
        filter: blur(23.175px);
        fill: rgba(0, 122, 171, 1);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .n__dd {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        position: absolute;
        overflow: visible;
        width: 160px;
        height: 148px;
        left: 0px;
        top: 0px;
        cursor: pointer;
        --web-animation: fadein 0.2s ease-out;
        --web-action-type: page;
        --web-action-target: 921_Design_kit________1.html;
    }
    
    #n_1_Project_2666404 {
        position: absolute;
        width: 64px;
        height: 64px;
        left: 38px;
        top: 16px;
        overflow: visible;
    }
    
    #n__df {
        left: 0px;
        top: 95px;
        position: absolute;
        overflow: visible;
        width: 141px;
        height: 19px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    #n__dg {
        opacity: 0;
        left: 0px;
        top: 129px;
        position: absolute;
        overflow: visible;
        width: 141px;
        height: 149px;
        line-height: 18px;
        margin-top: -1px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: lighter;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    #M2 {
        position: absolute;
        width: 140px;
        height: 216px;
        left: 0px;
        top: 182px;
        overflow: visible;
    }
    
    #n__di {
        opacity: 0.5;
        filter: blur(23.175px);
        fill: rgba(0, 122, 171, 1);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .n__di {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        position: absolute;
        overflow: visible;
        width: 160px;
        height: 148px;
        left: 0px;
        top: 0px;
        cursor: pointer;
        --web-animation: fadein 0.2s ease-out;
        --web-action-type: page;
        --web-action-target: 922_Design_kit________2.html;
    }
    
    #n_7_Anons_3067474 {
        position: absolute;
        width: 64px;
        height: 64px;
        left: 38px;
        top: 16px;
        overflow: visible;
    }
    
    #n__dk {
        left: 0px;
        top: 93px;
        position: absolute;
        overflow: visible;
        width: 141px;
        height: 19px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    #n__dl {
        opacity: 0;
        left: 0px;
        top: 128px;
        position: absolute;
        overflow: visible;
        width: 141px;
        height: 88px;
        line-height: 18px;
        margin-top: -1px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: lighter;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    #Notification {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 107px;
        top: 8px;
        overflow: visible;
    }
    
    #Orange {
        fill: rgba(255, 155, 39, 1);
    }
    
    .Orange {
        position: absolute;
        overflow: visible;
        width: 24px;
        height: 24px;
        left: 0px;
        top: 0px;
    }
    
    #n__do {
        left: 8px;
        top: 2px;
        position: absolute;
        overflow: visible;
        width: 9px;
        white-space: nowrap;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
    }
    
    #M3 {
        position: absolute;
        width: 140px;
        height: 179px;
        left: 0px;
        top: 316px;
        overflow: visible;
    }
    
    #n__dq {
        opacity: 0.5;
        filter: blur(23.175px);
        fill: rgba(0, 122, 171, 1);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .n__dq {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        position: absolute;
        overflow: visible;
        width: 160px;
        height: 148px;
        left: 0px;
        top: 0px;
        cursor: pointer;
        --web-animation: fadein 0.2s ease-out;
        --web-action-type: page;
        --web-action-target: 923_Design_kit________3.html;
    }
    
    #n_2_Publish_2702134 {
        position: absolute;
        width: 64px;
        height: 64px;
        left: 38px;
        top: 16px;
        overflow: visible;
    }
    
    #n__ds {
        left: 0px;
        top: 93px;
        position: absolute;
        overflow: visible;
        width: 141px;
        height: 19px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    #n__dt {
        opacity: 0;
        left: 0px;
        top: 128px;
        position: absolute;
        overflow: visible;
        width: 141px;
        height: 51px;
        line-height: 18px;
        margin-top: -1px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: lighter;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    #M4 {
        position: absolute;
        width: 140px;
        height: 215px;
        left: 0px;
        top: 450px;
        overflow: visible;
    }
    
    #n__dv {
        opacity: 0.5;
        filter: blur(23.175px);
        fill: rgba(0, 122, 171, 1);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .n__dv {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        position: absolute;
        overflow: visible;
        width: 160px;
        height: 148px;
        left: 0px;
        top: 0px;
        cursor: pointer;
        --web-animation: fadein 0.2s ease-out;
        --web-action-type: page;
        --web-action-target: 924_Design_kit________4.html;
    }
    
    #n_Icon_dw {
        position: absolute;
        width: 64px;
        height: 64px;
        left: 38px;
        top: 16px;
        overflow: visible;
    }
    
    #n__dx {
        left: 0px;
        top: 93px;
        position: absolute;
        overflow: visible;
        width: 141px;
        height: 19px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    #n__dy {
        opacity: 0;
        left: 12px;
        top: 128px;
        position: absolute;
        overflow: visible;
        width: 117px;
        height: 87px;
        line-height: 18px;
        margin-top: -1px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: lighter;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    #M5 {
        position: absolute;
        width: 140px;
        height: 178px;
        left: 0px;
        top: 584px;
        overflow: visible;
    }
    
    #n__d {
        opacity: 0.5;
        filter: blur(23.175px);
        fill: rgba(0, 122, 171, 1);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .n__d {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        position: absolute;
        overflow: visible;
        width: 160px;
        height: 148px;
        left: 0px;
        top: 0px;
        cursor: pointer;
        --web-animation: fadein 0.2s ease-out;
        --web-action-type: page;
        --web-action-target: 925_Design_kit________5.html;
    }
    
    #n_6_Gallery_4327764 {
        position: absolute;
        width: 64px;
        height: 64px;
        left: 38px;
        top: 16px;
        overflow: visible;
    }
    
    #n__ea {
        left: 0px;
        top: 93px;
        position: absolute;
        overflow: visible;
        width: 141px;
        height: 19px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    #n__eb {
        opacity: 0;
        left: 0px;
        top: 128px;
        position: absolute;
        overflow: visible;
        width: 141px;
        height: 50px;
        line-height: 18px;
        margin-top: -1px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: lighter;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    #M6 {
        position: absolute;
        width: 140px;
        height: 200px;
        left: 0px;
        top: 718px;
        overflow: visible;
    }
    
    #n__ec {
        opacity: 0.5;
        filter: blur(23.175px);
        fill: rgba(0, 122, 171, 1);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .n__ec {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        position: absolute;
        overflow: visible;
        width: 160px;
        height: 148px;
        left: 0px;
        top: 0px;
        cursor: pointer;
        --web-animation: fadein 0.2s ease-out;
        --web-action-type: page;
        --web-action-target: 926_Design_kit________6.html;
    }
    
    #n_5_Archive_3532930 {
        position: absolute;
        width: 64px;
        height: 64px;
        left: 38px;
        top: 16px;
        overflow: visible;
    }
    
    #n__ed {
        left: 0px;
        top: 93px;
        position: absolute;
        overflow: visible;
        width: 141px;
        height: 19px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    #n__ee {
        opacity: 0;
        left: 2px;
        top: 128px;
        position: absolute;
        overflow: visible;
        width: 139px;
        height: 72px;
        line-height: 18px;
        margin-top: -1px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: lighter;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    #M7 {
        position: absolute;
        width: 140px;
        height: 212px;
        left: 0px;
        top: 852px;
        overflow: visible;
    }
    
    #n__ef {
        opacity: 0.5;
        filter: blur(23.175px);
        fill: rgba(0, 122, 171, 1);
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    
    .n__ef {
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        position: absolute;
        overflow: visible;
        width: 160px;
        height: 148px;
        left: 0px;
        top: 0px;
        cursor: pointer;
        --web-animation: fadein 0.2s ease-out;
        --web-action-type: page;
        --web-action-target: 927_Design_kit________7.html;
    }
    
    #n_4_Contacts_2667401 {
        position: absolute;
        width: 64px;
        height: 64px;
        left: 38px;
        top: 16px;
        overflow: visible;
    }
    
    #n__eg {
        left: 0px;
        top: 93px;
        position: absolute;
        overflow: visible;
        width: 141px;
        height: 19px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    
    #n__eh {
        opacity: 0;
        left: 6px;
        top: 128px;
        position: absolute;
        overflow: visible;
        width: 129px;
        height: 84px;
        line-height: 18px;
        margin-top: -1px;
        text-align: center;
        font-family: SF UI Display;
        font-style: normal;
        font-weight: lighter;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
