{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="content-heading">Материальнo-техническое обеспечение и оснащённость исследовательского процесса</div>
    <div class="content">
        <div class="white-box col-margin-bottom padding-box ">
            <h1>Проект "СОЗДАНИЕ ГЕОИНФОРМАЦИОННОЙ МОДЕЛИ И ИНТЕРАКТИВНОЙ КАРТЫ ЭКОЛОГИЧЕСКИХ РИСКОВ БАССЕЙНА РЕКИ ОКИ" (РГО)</h1>
    <p>
     <img width="307" alt="лого РГО.jpg" src="/upload/medialibrary/558/5582d255e6a4b0a13eeba51d194b413d.jpg" height="227" title="лого РГО.jpg" align="left">Грантовая заявка Студенческого научно-образовательного центра MIIGAiK R&amp;D на реализацию исследовательского проекта «Создание геоинформационной модели и интерактивной карты экологических рисков бассейна реки Оки» с участием студентов, аспирантов и молодых ученых университета получила одобрение на заседании Попечительского Совета <a href="https://www.rgo.ru/ru">Всероссийской общественной организации «Русское географическое общество»</a> &nbsp;(Протокол от&nbsp; 14.04.2021 года).
    </p>
    <p>
    </p>
    <p>
         Проект нацелен на привлечение внимания к экологическим проблемам Большой Волги в контексте исследования территории в границах водосборного бассейна Оки на предмет сохранности природных ландшафтов и их изменения под влиянием антропогенного воздействия. В результате исследований и разработок будет получен принципиально новый подход к определению экологического риска и его моделированию на интерактивных картах для оперативного и наглядного получения информации об экологическом состоянии речных систем.
    </p>
    <p>
     <b>Сроки реализации проекта:</b> 14 апреля 2021 - 13 апреля 2022
    </p>
    <p>
     <b>Цель проекта:</b>
    </p>
    <p>
         Привлечение внимания к экологическим проблемам Большой Волги в контексте исследования бассейна реки Оки как одного из крупнейших ее притоков.
    </p>
    <p>
     <b>Основные задачи проекта:</b>
    </p>
    <p>
    </p>
    <ol>
        <li>
        <p>
             Исследование территории в границах водосборного бассейна реки Оки и ее притоков на предмет сохранности природных ландшафтов и их изменения под влиянием антропогенного воздействия;
        </p>
     </li>
        <li>
        <p>
             Разработка методики создания информационной системы для оценки экологических рисков, которая позволяет на основе данных дистанционного зондирования и информации о локальных антропогенных объектах создать базу данных, провести геопространственный анализ, визуализировать результаты в виде интерактивной карты региона как инструмента для динамической оценки состояния и экологических рисков;
        </p>
     </li>
        <li>
        <p>
             Формирование экопрофессионального сознания молодежи через вовлечение студентов в профессиональные исследовательские проекты экологической направленности.
        </p>
     </li>
    </ol>
    <p>
    </p>
    <p>
     <b>Результатом проекта станут:</b>
    </p>
    <p>
         WEB-сайт с интерактивной картой и элементами экспертной системы, которая будет содержать мультимасштабную картографическую основу, метрическую атрибутивную информацию тематического содержания с интегрированными инструментами моделирования экологических рисков;
    </p>
    <p>
         Методика&nbsp;создания информационной системы для оценки экологических рисков, которая позволяет на основе данных дистанционного зондирования и информации о локальных объектах создать базу данных, провести ее геопространственный анализ, визуализировать результаты в виде интерактивной карты региона.
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
         Проект будет реализован <a href="http://www.miigaik.ru/student-research-and-development-center/">Студенческим центром MIIGAiK R&amp;D</a> в течение года с участием кафедр Космического мониторинга и экологии, <a href="http://www.miigaik.ru/geogr/about/">Географии</a>, <a href="http://www.miigaik.ru/kk/about/">Картографии</a>, Прикладной информатики и <a href="http://www.miigaik.ru/giok/about/">Визуализации данных и картографического дизайна</a>. <br>
        Руководить студенческим исследовательским проектом приглашен доктор наук, профессор Малинников В.А.<br>
        Координаторы проекта: и.о. декана факультета картографии кандидат наук доц. Загребин Г.И., руководитель Студенческого центра MIIGAiK R&amp;D кандидат наук Кузнецова Г.Д.
    </p>
    <p>
     <b>Партнер&nbsp;проекта</b>&nbsp; -&nbsp;Московское областное региональное отделение <a href="https://flot.com/project/charity/organisations.php?ELEMENT_ID=10336">Общероссийского Движения Поддержки Флота</a>
    </p>
    <p>
         В команду в проекта приглашаются студенты и аспиранты МИИГАиК, для которых в сентябре 2021 г. на базе МИИГАиК будет организована междисциплинарная школа. Для участия в проекте обращайтесь на кафедры картографии (доц. Крылов С.А.), географии (проф. Братков В.В.), космического мониторинга и экологии (проф. Малинников В.А., доц. Беленко В.В.) и в Студенческий центр MIIGAiK R&amp;D/
    </p>
    <p>
     <b>Контакты Центра MIIGAiK R&amp;D:</b> email <a href="mailto:srdc@miigaik.ru">srdc@miigaik.ru</a>, <a href="http://map.miigaik.ru/">6 корпус, 5 подъезд, 1 этаж</a>
    </p>
    
                                        </div>
    </div>
</div>
</div>

{% endblock %}