{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
    <script id="applicationScript" src="{% static 'script.js' %}"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>

    <div id="n_10_Main_screen">
        
        <div class="top-menu">
            <a href="./indexMap.html">
                <div class="top-menu__item">
                    <span>Главная страница</span>
                </div>
            </a>
            <a href="./indexMap.html">
                <div class="top-menu__item">
                    Общая карта
                </div>
            </a>
        </div>

        </button>
        <div class="side-menu">

            <div class="side-menu-item">
                <details class="details-animated">
                    <summary>
                        <img class="side-menu-item__img" src="./n_1_Project_2666404.png" style="margin-left: 1rem">
                        <div class="side-menu-item__text">О проекте</div>

                    </summary>
                    <ul>

                        <a href="/indexAbout.html" class="menu-link">
                            <li>Наш проект</li>
                        </a>
                        <a href="/indexTeam.html" class="menu-link">
                            <li>Команда</li>
                        </a>
                        <a href="" class="menu-link">
                            <li>РГО</li>
                        </a>
                        <a href="" class="menu-link">
                            <li>Партнёры</li>
                        </a>
                    </ul>
                </details>
            </div>

            <div class="side-menu-item">
                <details class="details-animated">
                    <summary>
                        <img class="side-menu-item__img" src="./n_7_Anons_3067474.png">
                        <div class="side-menu-item__text">Обновления</div>

                    </summary>
                    <ul>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                    </ul>
                </details>
            </div>

            <div class="side-menu-item">
                <details class="details-animated">
                    <summary>
                        <img class="side-menu-item__img" src="./n_2_Publish_2702134@2x.png ">
                        <div class="side-menu-item__text">Публикации</div>

                    </summary>
                    <ul>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                    </ul>
                </details>
            </div>

            <div class="side-menu-item">
                <details class="details-animated">
                    <summary>
                        <img class="side-menu-item__img" src="./n_Icon_dw.png">
                        <div class="side-menu-item__text">Регион</div>

                    </summary>
                    <ul>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                    </ul>

                </details>
                <button onclick="menuOpen()" class="menu-open-button">МЕНЮ</button>
            </div>
            <div class="side-menu-item">
                <details class="details-animated">
                    <summary>
                        <img class="side-menu-item__img" src="./n_6_Gallery_4327764.png">
                        <div class="side-menu-item__text">Галерея</div>

                    </summary>
                    <ul>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                    </ul>
                </details>
            </div>
            <div class="side-menu-item">
                <details class="details-animated">
                    <summary>
                        <img class="side-menu-item__img" src="./n_5_Archive_3532930.png">
                        <div class="side-menu-item__text">Архив</div>

                    </summary>
                    <ul>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                    </ul>
                </details>
            </div>
            <div class="side-menu-item">
                <details class="details-animated">
                    <summary>
                        <img class="side-menu-item__img" src="./n_4_Contacts_2667401.png">
                        <div class="side-menu-item__text">Контакты</div>

                    </summary>
                    <ul>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                    </ul>
                </details>
            </div>
        </div>
        <div>

        </div>
        <div class="header">
            <div><img src="../Разное/Logo miigaik_2x.png" alt="" class="header__img"></div>
            <div class=""><img src="../Разное/Logo rus-geo.png" alt="" class="header__img"></div>
            <div class="">
                <div class="header__text">
                    Экологические риски бассейна реки Оки
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
       
    </div>
    </body>
    
    </html>