{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content%}
<div class="content-wrapper">
    <div class="content-heading">Партнеры проекта</div>
    <div class="content">
        <div class="team-block">
            
            <div class="team-block-row">
                {% for partners in partners_left %}
                <a href="{{partner.url}}">
                    <div class="team-block-member">
                        <div>
                            <img src="{{ partner.img.url }}" class="team-block-member__img" alt="">
                        </div>
                        <div class="team-block-member-info">
                            <div class="team-block-member__sub">{{ partner.name }}</div>
                        </div>
                    </div>
                </a>
                {%endfor%}
            </div>
            <div class="team-block-row">
                {% for partners in partners_right %}
                <a href="{{partner.url}}">
                    <div class="team-block-member">
                        <div>
                            <img src="{{ partner.img.url }}" class="team-block-member__img" alt="">
                        </div>
                        <div class="team-block-member-info">
                            <div class="team-block-member__sub">{{ partner.name }}</div>
                        </div>
                    </div>
                </a>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
{%endblock%}